@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

:root{
  --success-color:#2ecc71;
  --error-color:#e74c37;
}

*{
  box-sizing: border-box;
}

body{
  background-color: #f9f2f9;
  font-family: 'Open sans',sans-serif;
  display:flex;
  height: 100vh;
  align-items: center;
  justify-content: center;

}

.container{
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}
h2{
  text-align: center;
  margin-top: 0;
  margin-bottom: 15px;
  
}
.form{
  padding: 40px 30px;
  width:400px;
}

@media(max-width:576px){
  .form{
    width:300px;
  }
}

.form-control{
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label{

  color:#777;
  display: block;
  margin-bottom: 5px;

}

.form-control input{

  width:100%;
  border:2px solid #f0f0f0;
  border-radius: 3px;
  padding:10px;
  font-size: 14px;
  
}

.form-control input:focus{
  outline: 0;
  border-color: #777;
}

.form-control.success input{
  border-color: var(--success-color);
}

.form-control.error input{
  border-color:var(--error-color);
}

.form-control small{

color:var(--error-color);
position:absolute;
bottom: 0;
left:0;
visibility: hidden;

}

.form-control.error small{
  visibility: visible;
}

.form button{
  display:block;
  width:100%;
  padding:10px;
  background-color: #3498db;
  border: 1px solid #3498db;
  border-radius: 3px;
  color:#fff;
  font-size: 16px;
  cursor: pointer;
  

}

.form button:focus{
  outline: 0;
}